*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #272727;
    color: #effffb;
    font-size: 24px;
    font-family: 'Bellota Text',cursive;
}

.container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.node,
.goal{
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 0 0.3px #000000;
    transition: 0.3s;

}

.goal{
    border: solid 2px #50d890;
}

.goal-achived{
    box-shadow:none;
    background-color: #50d890;
    transform: translate(0 , 2px);
}

.node{
    border: solid 2px #4f98ca;
    cursor: pointer;
}

.node-true{
    box-shadow:none;
    background-color: #4f98ca;
    transform: translate(0, 2px);
}
