@media only screen and (min-width: 768px) {
    *{
        font-size: 20px ;
    }

    h3{
        font-size: 2.8rem;
    }

    .info-block{
        width: 40vw;
    }

    .info-img,
    .my-logo {
        width: 2.8rem;
        height: 2.8rem;
    }

}
